*:not(body):not(html):not(.container):not(p):not(.paragraphs):not(h1):not(.boxes):not(.mission):not(.descriptions):not(.media):not(h2) {
  box-sizing:border-box;
  border:1px dashed #000;
  background-color: black;
}

p {
  margin: 0;
}

body {
  margin: 0;
}

.columns {
  min-height: 100px;
}

.small {
  min-height: 20px;
}






   @media screen and (min-width:1033px) {

     h2 {
       margin: 0;
     }

     .logo {
      height: 50px;
      width: 50px;
      margin-top: 5vh;
      display: inline-block;
      margin-left: 6vw;
      border-radius: 100px;
     }

     .brand {
       width: 5vw;
       display: inline-block;
       margin-bottom: 1.25vh;
       margin-left: 1vw;
     }


   .nav{
     height: 3vh;
     width: 8.5vw;
     display: inline-block;
     margin-left: 38vw;
   }
   .nav2{
     height: 3vh;
     width: 8.5vw;
     display: inline-block;
   }
   .nav3{
     height: 3vh;
     width: 8.5vw;
     display: inline-block;
   }
   .nav4{
     height: 3vh;
     width: 8.5vw;
     display: inline-block;
   }

   .mission {
     width: 40vw;
     display: inline-block;
     margin-left: 6vw;
     margin-top: 7vh;
   }

   .art {
     border-radius: 300px;
     width: 300px;
     height: 300px;
     float:right;
     margin-right: 10vw;
     margin-top: 3vh;
   }

   .boxes {
     margin-left: 6vw;
     min-height: 100px;
     float: left;
     display: inline-block;
   }

   .box1 {
     width: 25vw;
     height: 15vh;
     margin-top: 15vh;
   }

   .box2 {
     width: 25vw;
     height: 15vh;
     margin-top: 5vh;
   }

  .box3 {
    width: 25vw;
    height: 15vh;
    margin-top: 5vh;
  }

  .descriptions {
    width: 25vw;
    height: 10vh;
    display: inline-block;
    margin-top: 14.7vh;
    margin-left: 5vw;
  }

  .paragraph1, .paragraph2, .paragraph3 {
    height: 19vh;
  }

  .paragraph4, .paragraph5, .paragraph6 {
    width: 19vw;
  }

  .box4, .box5, .box6 {
    width: 5vw;
    height: 5vh;
  }

  .media {
    display: inline-block;
    float: right;
  }


@media screen and (max-width:1032px) {


  .nav{
    height: 1vh;
    width: 6vw;
    display: inline-block;
    margin-left: 32vw;
  }
  .nav2{
    height: 1vh;
    width: 6vw;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .nav3{
    height: 1vh;
    width: 6vw;
    display: inline-block;
  }
  .header {
    width: 70vw;
    height: 6vh;
    margin-top: 5vh;
    margin-left: 11vw;
  }
  .header2 {
    width: 75vw;
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 7vh;
    margin-left: 11vw;
  }
  .box1 {
    width: 39.2vw;
    height: 36vh;
    margin-left: 6vw;
  }
  .box2 {
    width: 39.2vw;
    height: 36vh;
    margin-left: 3vw;
  }
  .box3 {
    width: 39.2vw;
    height: 36vh;
    margin-left: 6vw;
  }
  .box4 {
    width: 39.2vw;
    height: 36vh;
    margin-left: 3vw;
  }

  .title1 {
    width: 25.4vw;
    margin-left: 6vw;
    margin-top: 2.9vh;
    margin-bottom: 2.9vh;
  }

  .title2 {
    width: 25.4vw;
    margin-left: 2.9vw;
    margin-top: 2.9vh;
    margin-bottom: 2.9vh;
  }

  .title3 {
    width: 25.4vw;
    margin-left: 6vw;
    margin-top: 2.9vh;
    margin-bottom: 2.9vh;
  }

  .title4 {
    width: 25.4vw;
    margin-left: 2.9vw;
    margin-top: 2.9vh;
    margin-bottom: 2.9vh;
  }
  .paragraph1 {
    width: 38vw;
    height: 20vh;
    margin-left: 6vw;
  }
  .paragraph2 {
    width: 38vw;
    height: 20vh;
    margin-left: 3vw;
  }
  .paragraph3 {
    width: 38vw;
    height: 36vh;
    margin-left: 6vw;
  }
  .paragraph4 {
    width: 38vw;
    height: 36vh;
    margin-left: 3vw;
  }

}
@media screen and (max-width:700px) {
  .logo{
    display: flex;
    width: 20vw;
    height: 4vh;
  }
  .nav{
    height: 1vh;
    width: 6vw;
    margin-left: 6vw;
    margin-top: 2vh;
  }
  .nav2{
    height: 1vh;
    width: 6vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .nav3{
    height: 1vh;
    width: 6vw;
  }
  .header {
    width: 70vw;
    height: 6vh;
    margin-top: 5vh;
    margin-left: 6vw;
  }
  .header2 {
    width: 75vw;
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 7vh;
    margin-left: 6vw;
  }
  .box1 {
    width: 80vw;
    height: 36vh;
    margin-left: 6vw;
  }
  .title1 {
    width: 30vw;
    margin-left: 6vw;
    margin-top: 4.9vh;
    margin-bottom: 2.9vh;
  }
  .paragraph1 {
    width: 76vw;
    height: 20vh;
    margin-left: 6vw;
  }
  .box2 {
    width: 80vw;
    height: 36vh;
    margin-left: 6vw;
  }
  .title2 {
    width: 30vw;
    margin-left: 6vw;
    margin-top: 4.9vh;
    margin-bottom: 2.9vh;
  }
  .paragraph2 {
    width: 76vw;
    height: 20vh;
    margin-left: 6vw;
  }
  .box3 {
    width: 80vw;
    height: 36vh;
    margin-left: 6vw;
  }
  .title3 {
    width: 30vw;
    margin-left: 6vw;
    margin-top: 4.9vh;
    margin-bottom: 2.9vh;
  }
  .paragraph3 {
    width: 76vw;
    height: 20vh;
    margin-left: 6vw;
}
.box4 {
  width: 80vw;
  height: 36vh;
  margin-left: 6vw;
}
.title4 {
  width: 30vw;
  margin-left: 6vw;
  margin-top: 4.9vh;
  margin-bottom: 2.9vh;
}
.paragraph4 {
  width: 76vw;
  height: 20vh;
  margin-left: 6vw;
}
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
