*:not(body):not(html):not(.container) {
  box-sizing:border-box;
  border:1px dashed #000;
}

body {
  margin: 0;
}

.columns {
  min-height: 100px;
}


 @media screen and (min-width:1033px) {
   .logo {
     height: 10vh;
     width: 15vw;
     margin-top: 5vh;
   }
}
@media screen and (max-width:1032px) {

}
@media screen and (max-width:700px) {

}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
