*:not(body):not(html):not(.container) {
  box-sizing:border-box;
  border:1px dashed #000;
}

body {
  margin: 0;
}

.columns {
  min-height: 100px;
}

.container {
  width: 100vw;
  height: 100vh;
}

 @media screen and (min-width:1033px) {
   #header {
     width: 100vw;
     height: 10vh;
   }

    #box1 {
      height: 36vh;
      width: 30vw;
      float: left;
      margin-left: 3vw;
      margin-top: 5vh;
    }

    #box2 {
      height: 36vh;
      width: 30vw;
      float: left;
      margin-top: 5vh;
      margin-right: 2vw;
      margin-left: 2vw;
    }

    #box3 {
      height: 36vh;
      width: 30vw;
      float: left;
      margin-top: 5vh;
    }

    #box4 {
      height: 36vh;
      width: 30vw;
      float: left;
      margin-left: 3vw;
      margin-top: 5vh;
    }

    #box5 {
      height: 36vh;
      width: 30vw;
      float: left;
      margin-top: 5vh;
      margin-right: 2vw;
      margin-left: 2vw;
    }

    #box6 {
      height: 36vh;
      width: 30vw;
      float: left;
      margin-top: 5vh;
    }
}

@media screen and (max-width:1032px) {
  #header {
    width: 100vw;
    height: 10vh;
  }

   #box1 {
     height: 24.5vh;
     width: 45vw;
     float: left;
     margin-left: 4vw;
     margin-top: 4vh;
   }

   #box2 {
     height: 24.5vh;
     width: 45vw;
     float: left;
     margin-top: 4vh;
     margin-left: 2vw;
   }

   #box3 {
     height: 24.5vh;
     width: 45vw;
     float: left;
     margin-left: 4vw;
     margin-top: 4vh;
   }

   #box4 {
     height: 24.5vh;
     width: 45vw;
     float: left;
     margin-left: 2vw;
     margin-top: 4vh;
   }

   #box5 {
     height: 24.5vh;
     width: 45vw;
     float: left;
     margin-top: 4vh;
     margin-right: 2vw;
     margin-left: 4vw;
   }

   #box6 {
     height: 24.5vh;
     width: 45vw;
     float: left;
     margin-top: 4vh;
   }
}


@media screen and (max-width:700px) {

}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
